CONTENT WARNING: explicit and multiple references to suicide attemps and suicidal ideation

The following is an analysis regarding attempted suicides and suicidal thoughts. Questions around these topics will be directly referenced and mentioned explicitly. While their potential correlations with other parameters will be analysed and discussed at length, suicide attempts and suicidal ideation as concepts will not be discussed. Deaths by suicide will not be referenced or discussed at all.

Please only continue if it comfortable for you to do so.

In [92]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
from sklearn.cross_validation import train_test_split
import seaborn as sb
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

National Survey on Drug Use and Health 2017 results, from SAMHDA, Substance Abuse and Mental Health Data Archive (https://www.datafiles.samhsa.gov/study-series/national-survey-drug-use-and-health-nsduh-nid13517), after agreeing to their terms of use.

In [36]:
df = pd.DataFrame.from_csv('NSDUH_2017_Tab.tsv',sep='\t')

/anaconda3/envs/condasc/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [6]:
df

,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
QUESTID2,,,,,,,,,,,,,,,,,,,,,
55235143,10/09/2018,1,99,99,13,9999,99,4,93,93,...,3.0,2,2,1,1,2,2,11203.888954,40043,1
13435143,10/09/2018,1,99,99,15,9999,99,1,18,99,...,3.0,1,2,1,1,2,2,9496.462244,40006,2
81345143,10/09/2018,1,99,99,14,9999,99,1,10,99,...,3.0,2,2,1,1,2,2,2943.702802,40030,2
53955143,10/09/2018,1,99,99,16,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,1783.702549,40026,2
51775143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,1,1,1,1,2,2,31528.749357,40029,1
47796143,10/09/2018,1,99,99,15,9999,99,4,93,93,...,1.0,2,2,3,3,2,2,13593.927387,40035,1
13196143,10/09/2018,1,99,99,15,9999,99,3,93,93,...,3.0,2,2,3,3,2,2,3486.457416,40011,2
81726143,10/09/2018,1,99,99,14,9999,99,3,93,93,...,2.0,2,2,2,2,2,2,782.266930,40032,2
61536143,10/09/2018,1,99,99,985,9998,98,14,93,93,...,1.0,2,2,2,3,2,2,836.875263,40024,2
10636143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,1.0,2,2,1,1,2,2,782.663302,40001,2
17456143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,1,1,2,2,226.131988,40050,2
92386143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3711.107685,40020,2
17407143,10/09/2018,1,99,99,16,9999,99,1,5,99,...,2.0,2,2,1,1,2,2,3799.464467,40020,2
66317143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,11139.262657,40039,2
83617143,10/09/2018,1,99,99,18,9999,99,4,93,93,...,3.0,2,2,2,1,2,2,10111.469157,40007,2
81437143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,3,3,2,2,4746.662453,40032,1
37837143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,2,2,2,2,3331.878270,40026,2
35037143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,1.0,2,2,2,2,2,2,2454.500788,40042,2
10057143,10/09/2018,1,99,99,12,9999,99,4,93,93,...,3.0,2,2,2,1,2,2,14246.667717,40032,1
11577143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,54.413648,40017,1
34608143,10/09/2018,1,99,99,12,9999,99,1,30,99,...,2.0,2,2,2,2,2,2,3481.596088,40013,2
33708143,10/09/2018,1,99,99,17,9999,99,4,93,93,...,2.0,2,2,2,2,2,2,1022.448042,40042,2
81338143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,1397.196575,40021,1
58638143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,628.886384,40016,2
67258143,10/09/2018,1,99,99,16,9999,99,1,30,99,...,3.0,1,2,1,1,2,2,6743.251764,40031,2
88158143,10/09/2018,1,99,99,11,9999,99,4,93,93,...,2.0,2,2,2,2,2,2,453.770716,40013,1
46168143,10/09/2018,1,99,99,18,9999,99,3,93,93,...,2.0,2,2,3,3,2,2,3241.107961,40032,1
95078143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,2205.222263,40029,2
33899143,10/09/2018,1,99,99,18,9999,99,1,30,99,...,1.0,2,2,1,1,2,2,51.527936,40005,1
31099143,10/09/2018,1,99,99,1,9999,99,4,93,93,...,2.0,2,2,1,1,2,2,3455.338851,40018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93461730,10/09/2018,1,99,99,16,9999,99,4,93,93,...,3.0,2,2,2,3,2,2,1674.244082,40046,1
87681730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,NaN,2,2,1,1,2,2,153.647901,40016,1
26781730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3651.047317,40039,1
73081730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,878.701118,40033,2
74502730,10/09/2018,1,99,99,11,9999,99,1,2,99,...,1.0,2,1,3,3,2,2,342.521450,40006,1
55212730,10/09/2018,1,99,99,12,9999,99,1,18,99,...,1.0,2,2,2,2,2,2,543.975822,40002,1
23412730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,2489.966819,40009,1
11422730,10/09/2018,1,99,99,18,2016,11,2,93,93,...,3.0,2,2,2,2,2,2,2721.773881,40050,1
61942730,10/09/2018,1,99,99,13,9999,99,1,30,99,...,2.0,2,2,2,3,2,2,604.293621,40007,2
19142730,10/09/2018,1,99,99,13,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,19534.561431,40039,2
43552730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,6008.958143,40049,1
91562730,10/09/2018,1,99,99,10,9999,99,4,93,93,...,3.0,2,2,2,3,2,2,5782.778810,40039,2
57962730,10/09/2018,1,99,99,19,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,34466.143274,40002,1
85162730,10/09/2018,1,99,99,15,9999,99,3,93,93,...,3.0,2,2,2,2,2,2,10440.191652,40038,2
28672730,10/09/2018,1,99,99,19,9999,99,1,4,99,...,2.0,2,2,1,1,2,2,7138.187853,40005,1
63503730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,1,1,2,2,4950.085934,40010,1
79903730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,1.0,2,2,1,1,2,2,6047.340342,40031,2
20423730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,NaN,2,2,1,1,2,2,5237.645072,40040,1
97243730,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3465.475608,40009,2
65253730,10/09/2018,1,99,99,16,9999,99,1,30,99,...,3.0,2,2,2,2,2,2,20566.552366,40009,2
47863730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3771.551040,40029,2
75873730,10/09/2018,1,99,99,14,9999,99,4,93,93,...,3.0,2,2,3,3,2,2,1099.986846,40004,1
93073730,10/09/2018,1,99,99,15,9999,99,2,93,93,...,2.0,2,2,1,1,2,2,854.431770,40014,2
91894730,10/09/2018,1,99,99,15,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,6423.053826,40040,2
58194730,10/09/2018,1,99,99,18,2017,7,1,3,99,...,2.0,2,2,1,1,2,2,3718.681215,40011,1
69804730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,3,2,2,1817.488231,40046,1
51034730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,1,2,2,2,2,2,4333.981842,40015,2
44444730,10/09/2018,2,4,4,991,9991,91,91,91,91,...,1.0,2,2,2,2,2,2,1475.398422,40046,2
93354730,10/09/2018,1,99,99,15,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,6146.666449,40017,2
23974730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,15092.249949,40031,1

2667 columns, that is a lot of parameters, and a huge majority of them are categorical

Decriptions of parameters can be found in codebook

'SUICTHNK' -  At any time in the past 12 months, that is from [DATEFILL] up to and including today, did you seriously think about trying to kill yourself?, yes = 1, no = 2, bunch of other values available

'SUICPLAN' - During the past 12 months, did you make any plans to kill yourself?, yes = 1, no = 2

'SUICTRY' - During the past 12 months, did you try to kill yourself?

'MHSUITHK' - same as SUICTHNK, no = 0, yes = 1, all others = nan

'MHSUIPLN' - same as SUICPLAN, no = 0, yes = 1, all others = nan

'MHSUITRY' - same as SUICTRY, no = 0, yes = 1, all others = nan

'MHSUTK_U' - same as above, but no/unknown are grouped together

'ADWRSTHK' - Did you think about committing suicide? (think about the period of time/most recent period of time when your [FEELNOUN] and other problems were the worst.), yes = 1, no = 2

'ADWRSPLN' - same as above, but Did you make a suicide plan?

'ADWRSATP' - same as above, but Did you make a suicide attempt?

'AD_MDEA9' - ANY THOUGHTS OR PLANS OF SUICIDE, 1 = has symptoms, 2 = does not

'SIMHSUI2' - whether a respondent received their most recent mental health services from at least one inpatient/residential specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'SOMHSUI' -  whether a respondent received their most recent mental health services from at least one outpatient specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'SMHSUI2' -  whether a respondent received their most recent mental health services from at least one specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'YOWRSTHK' - same as 'ADWRSTHK' but for youth (12-17)

'YOWRSPLN' - same as above, but with plan

'YOWRSATP' - same as above, but suicide attempt

'YO_MDEA9' - same as 'ADWRSATP', but for youth (12-17 yrs)

In [7]:
use_col = ['SUICTHNK','SUICPLAN','SUICTRY','MHSUITHK','MHSUIPLN','MHSUITRY','MHSUTK_U','ADWRSTHK','ADWRSPLN',
           'ADWRSATP','AD_MDEA9','SIMHSUI2','SOMHSUI','SMHSUI2','YOWRSTHK','YOWRSPLN','YOWRSATP','YO_MDEA9']
df[use_col].describe()

,SUICTHNK,SUICPLAN,SUICTRY,MHSUITHK,MHSUIPLN,MHSUITRY,MHSUTK_U,ADWRSTHK,ADWRSPLN,ADWRSATP,AD_MDEA9,SIMHSUI2,SOMHSUI,SMHSUI2,YOWRSTHK,YOWRSPLN,YOWRSATP,YO_MDEA9
count,56276.000000,56276.000000,56276.000000,42240.000000,42237.000000,42237.000000,42554.000000,56276.000000,56276.000000,56276.000000,56276.000000,320.000000,1792.000000,1896.000000,56276.000000,56276.000000,56276.000000,56276.000000
mean,26.128367,94.519369,94.527063,0.061269,0.020006,0.009612,0.060817,85.948681,93.597146,93.604698,85.303469,0.553125,0.297991,0.313819,94.265939,96.378350,96.382206,94.021235
std,41.965473,20.373581,20.337973,0.239826,0.140023,0.097572,0.238997,33.170977,22.276343,22.245322,33.012253,0.497948,0.457503,0.464166,20.944202,15.750741,15.727177,21.049307
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,99.000000
50%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,1.000000,0.000000,0.000000,99.000000,99.000000,99.000000,99.000000
75%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000
max,99.000000,99.000000,99.000000,1.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000

Note: this is discussed in the codebook, there are several parameters which are derived from a regression model in the 2012 iteration of this study which are recommended to not be used when studying suicidal attempts and ideation (among other things), as they were found to systematically overpredict the occurance of these phenomena. I will not be using them any modeling.

In [8]:
print('Num adults thought about killing themselves in last year: '+str(len(df[df.MHSUITHK==1])))
print('Num adults made plans to kill themselves in last year: '+str(len(df[df.MHSUIPLN==1])))
print('Num adults attemped to kill themselves in last year: '+str(len(df[df.MHSUITRY==1])))
print('Num adults thought at difficult time about killing themslves: '+str(len(df[df.ADWRSTHK==1])))
print('Num adults made plans at difficult time to kill themslves: '+str(len(df[df.ADWRSPLN==1])))
print('Num adults attemped at difficult time to kill themslves: '+str(len(df[df.ADWRSATP==1])))
print('Num adults any thoughts/attempts to kill themslves: '+str(len(df[df.AD_MDEA9==1])))
len(df[(df.ADWRSTHK==1) | (df.ADWRSPLN==1) | (df.ADWRSATP==1) | (df.MHSUITHK==1) | (df.MHSUIPLN==1) | (df.MHSUITRY==1)])

Num adults thought about killing themselves in last year: 2588
Num adults made plans to kill themselves in last year: 845
Num adults attemped to kill themselves in last year: 406
Num adults thought at difficult time about killing themslves: 3121
Num adults made plans at difficult time to kill themslves: 1183
Num adults attemped at difficult time to kill themslves: 761
Num adults any thoughts/attempts to kill themslves: 4988

4153

Why does the sum of all those not equal 4988, all adults who had any suicidal thoughts/attempts?

In [9]:
use_col = ['SUICTHNK','SUICPLAN','SUICTRY','MHSUITHK','MHSUIPLN','MHSUITRY','MHSUTK_U','ADWRSTHK','ADWRSPLN',
           'ADWRSATP','AD_MDEA9','SIMHSUI2','SOMHSUI','SMHSUI2','YOWRSTHK','YOWRSPLN','YOWRSATP','YO_MDEA9',
           'YUHOSUIC','YURSSUIC','ADWRDBTR','ADWRDLOT']

df[df.AD_MDEA9==1][use_col]

,SUICTHNK,SUICPLAN,SUICTRY,MHSUITHK,MHSUIPLN,MHSUITRY,MHSUTK_U,ADWRSTHK,ADWRSPLN,ADWRSATP,...,SOMHSUI,SMHSUI2,YOWRSTHK,YOWRSPLN,YOWRSATP,YO_MDEA9,YUHOSUIC,YURSSUIC,ADWRDBTR,ADWRDLOT
QUESTID2,,,,,,,,,,,,,,,,,,,,,
37837143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
34608143,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
24160143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
41932143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
63244143,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
19246243,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
49297243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
34879243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
47040243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
24770243,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
82970243,2,99,99,0.0,0.0,0.0,0.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
73341243,1,1,1,1.0,1.0,1.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
39452243,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
67957343,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
72077343,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
20540343,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
27353343,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
16544343,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
37955443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
99375443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
92836443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
21266443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
11357443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
53777443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
15990443,2,99,99,0.0,0.0,0.0,0.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
38970443,1,1,1,1.0,1.0,1.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,2
21761443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
27153443,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
47367543,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
77798543,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37175430,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
11106430,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
67027430,1,1,2,1.0,1.0,0.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
93592430,2,99,99,0.0,0.0,0.0,0.0,1,2,1,...,NaN,NaN,99,99,99,99,99,99,1,1
48182430,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
87753430,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
36564430,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
17306530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
95068530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
93961530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
77322530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
45943530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
46653530,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
81394530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
33044530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
40964530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
97816630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
65826630,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
87907630,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
89748630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
29540630,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
37641630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
43372630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
25503630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
59004630,1,2,2,1.0,0.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
71696730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
81810730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
82330730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
73081730,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
51034730,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1

In [10]:
len(df[(df.ADWRSTHK==1) | (df.ADWRSPLN==1) | (df.ADWRSATP==1) | (df.ADWRDBTR==1) | (df.ADWRDLOT==1)])

4988

AD_MDEA9 is only in reference to during a difficult time in person's life

In [11]:
print('Num adults w/ suicidal thoughts last year: '+str(len(df[df.MHSUITHK==1])))
print('Num adults w/ suicidal plan last year: '+str(len(df[df.MHSUIPLN==1])))
print('Num adults w/ suicidal attempt last year: '+str(len(df[df.MHSUITRY==1])))
print('Num adults w/ suicidal thoughts in difficult time: '+str(len(df[df.ADWRSTHK==1])))
print('Num adults w/ suicidal plan in difficult time: '+str(len(df[df.ADWRSPLN==1])))
print('Num adults w/ suicidal attempt in difficult time: '+str(len(df[df.ADWRSATP==1])))
print('Num adults w/ thoughts about death (theirs, others, general) in difficult time: '+str(len(df[df.ADWRDLOT==1])))
print('Num adults w/ thought better if they were dead in difficult time: '+str(len(df[df.ADWRDBTR==1])))
print('Num adults answered yes for past 5 questions: '+str(len(df[df.AD_MDEA9==1])))

Num adults w/ suicidal thoughts last year: 2588
Num adults w/ suicidal plan last year: 845
Num adults w/ suicidal attempt last year: 406
Num adults w/ suicidal thoughts in difficult time: 3121
Num adults w/ suicidal plan in difficult time: 1183
Num adults w/ suicidal attempt in difficult time: 761
Num adults w/ thoughts about death (theirs, others, general) in difficult time: 4084
Num adults w/ thought better if they were dead in difficult time: 3930
Num adults answered yes for past 5 questions: 4988

In [12]:
print('Num adults w/ suicidal thoughts: '+str(len(df[(df.MHSUITHK==1) | (df.ADWRSTHK==1)])))
print('Num adults w/ suicidal plans: '+str(len(df[(df.MHSUIPLN==1) | (df.ADWRSPLN==1)])))
print('Num adults w/ suicidal attempt: '+str(len(df[(df.MHSUITRY==1) | (df.ADWRSATP==1)])))
print('Num adults w/ thoughts of death: '+str(len(df[(df.ADWRDLOT==1) | (df.ADWRDBTR==1)])))
print('Num adults w/ thoughts of death or suicide: '+str(len(df[(df.ADWRDLOT==1) | (df.ADWRDBTR==1) | (df.MHSUITHK==1) | (df.ADWRSTHK==1)])))

Num adults w/ suicidal thoughts: 4153
Num adults w/ suicidal plans: 1522
Num adults w/ suicidal attempt: 946
Num adults w/ thoughts of death: 4909
Num adults w/ thoughts of death or suicide: 5914

In [13]:
df[df.MHSUITRY==1][['MHSUIPLN','MHSUITHK']].describe()

         MHSUIPLN  MHSUITHK
count  406.000000     406.0
mean     0.864532       1.0
std      0.342645       0.0
min      0.000000       1.0
25%      1.000000       1.0
50%      1.000000       1.0
75%      1.000000       1.0
max      1.000000       1.0

In [14]:
df[df.MHSUITRY==0][['MHSUIPLN','MHSUITHK']].describe()

           MHSUIPLN      MHSUITHK
count  41829.000000  41831.000000
mean       0.011762      0.052091
std        0.107815      0.222212
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max        1.000000      1.000000

In [15]:
df[df.ADWRSATP==1][['ADWRSPLN','ADWRSTHK','ADWRDLOT','ADWRDBTR']].describe()

         ADWRSPLN  ADWRSTHK    ADWRDLOT    ADWRDBTR
count  761.000000     761.0  761.000000  761.000000
mean     1.254928       1.0    1.093298    1.148489
std      0.436107       0.0    0.291041    3.482328
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      1.000000       1.0    1.000000    1.000000
75%      2.000000       1.0    1.000000    1.000000
max      2.000000       1.0    2.000000   97.000000

In [16]:
df[df.ADWRSATP==2][['ADWRSPLN','ADWRSTHK','ADWRDLOT','ADWRDBTR']].describe()

          ADWRSPLN  ADWRSTHK     ADWRDLOT     ADWRDBTR
count  2357.000000    2357.0  2357.000000  2357.000000
mean      1.817989       1.0     1.240136     1.133220
std       2.766133       0.0     2.772200     1.935743
min       1.000000       1.0     1.000000     1.000000
25%       1.000000       1.0     1.000000     1.000000
50%       2.000000       1.0     1.000000     1.000000
75%       2.000000       1.0     1.000000     1.000000
max      97.000000       1.0    97.000000    94.000000

In [17]:
df[df.YOWRSATP==1][['YOWRSPLN','YOWRSTHK','YOWRDLOT','YOWRDBTR']].describe()

         YOWRSPLN  YOWRSTHK    YOWRDLOT    YOWRDBTR
count  545.000000     545.0  545.000000  545.000000
mean     1.322936       1.0    1.592661    1.033028
std      4.121135       0.0    7.035568    0.178873
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      1.000000       1.0    1.000000    1.000000
75%      1.000000       1.0    1.000000    1.000000
max     97.000000       1.0   97.000000    2.000000

In [18]:
df[df.YOWRSATP==2][['YOWRSPLN','YOWRSTHK','YOWRDLOT','YOWRDBTR']].describe()

         YOWRSPLN  YOWRSTHK    YOWRDLOT    YOWRDBTR
count  964.000000     964.0  964.000000  964.000000
mean     2.479253       1.0    1.797718    1.582988
std      8.629478       0.0    7.933495    6.727014
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      2.000000       1.0    1.000000    1.000000
75%      2.000000       1.0    1.000000    1.000000
max     97.000000       1.0   97.000000   97.000000

From the numbers in the code book, only those who answer they had suicidal ideation can then answer questions about plans and attempts.

As one would suspect, a large percentage of those who have a suicide attempt also had thoughts of a suicide plan.

In [78]:
def mkTrainTest(df):
    rem_val = [81,83,85,89,91,93,94,97,98,99,981,983,985,989,991,993,994,997,998,999,9981,9983,9985,9989,9991,9993,
               9994,9997,9998,9999]

    dfc = df.copy()
    dfc = dfc.replace(rem_val,np.nan)
    df1 = dfc[dfc.MHSUITHK==1]
    df0 = dfc[dfc.MHSUITHK==0]

    #use_df1 = use_df1.replace(rem_val,np.nan)
    #use_df1.dropna(inplace=True)
    #use_df0 = use_df0.replace(rem_val,np.nan)
    #use_df0.dropna(inplace=True)

    one_size = len(df1)
    df0p = df0.sample(one_size)

    y0 = df0p.MHSUITHK
    X0 = df0p.drop(columns=['MHSUITHK','SUICTHNK'])
    #use_X0 = pd.get_dummies(use_X0,columns=use_cols)
    y1 = df1.MHSUITHK
    X1 = df1.drop(columns=['MHSUITHK','SUICTHNK'])
    #use_X1 = pd.get_dummies(use_X1,columns=use_cols)
    
    X_all = pd.concat([X0,X1])
    y_all = pd.concat([y0,y1])

    #X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, random_state=0)

    #X_train = pd.concat([X0_train,X1_train])
    #X_test = pd.concat([X0_test,X1_test])
    #y_train = pd.concat([y0_train,y1_train])
    #y_test = pd.concat([y0_test,y1_test])
    return train_test_split(X_all, y_all, test_size=0.3, random_state=0)

In [137]:
def featFind(X,y):
    list_p = list(df)[1:]
    find_p = []
    logreg = LogisticRegression()
    rfe = RFE(logreg)
    
    for i in range(3):#len(list_p)/10+1):
        if i == len(list_p)/200+1:
            use_p = list_p[i*200:]
        else:
            use_p = list_p[i*200:(i+1)*200]
            
        use_X = X[use_p]
        use_X = pd.get_dummies(use_X,columns=use_p)
        rfe = rfe.fit(use_X,y.values.ravel())
        tmp_p = np.array(list(use_X))
        find_p.extend(tmp_p[rfe.support_])
        
    return find_p

In [138]:
X_train,X_test,y_train,y_test = mkTrainTest(df)
test=featFind(X_train,y_train)
len(test)
###logreg = LogisticRegression()
###rfe = RFE(logreg)
#rfe = rfe.fit(X_train, y_train.values.ravel())
#print(rfe.support_)
#print(rfe.ranking_)
#print(X_train.columns)

#logit_model=sm.Logit(y_train,X_train)
#result=logit_model.fit()
#print(result.summary2())

2678

In [139]:
test

['CIGEVER_1',
 'CIGEVER_2',
 'CIGTRY_1.0',
 'CIGTRY_6.0',
 'CIGTRY_7.0',
 'CIGTRY_8.0',
 'CIGTRY_9.0',
 'CIGTRY_10.0',
 'CIGTRY_15.0',
 'CIGTRY_17.0',
 'CIGTRY_19.0',
 'CIGTRY_23.0',
 'CIGTRY_24.0',
 'CIGTRY_27.0',
 'CIGTRY_28.0',
 'CIGTRY_29.0',
 'CIGTRY_31.0',
 'CIGTRY_33.0',
 'CIGTRY_35.0',
 'CIGTRY_36.0',
 'CIGTRY_37.0',
 'CIGTRY_39.0',
 'CIGTRY_40.0',
 'CIGTRY_50.0',
 'CIGYFU_2015.0',
 'CIGYFU_2016.0',
 'CIGMFU_2.0',
 'CIGMFU_3.0',
 'CIGMFU_5.0',
 'CIGMFU_6.0',
 'CIGMFU_7.0',
 'CIGMFU_8.0',
 'CIGMFU_9.0',
 'CIGMFU_10.0',
 'CIGREC_4.0',
 'CIGREC_9.0',
 'CIGREC_14.0',
 'CIGREC_19.0',
 'CIG30USE_1.0',
 'CIG30USE_3.0',
 'CIG30USE_4.0',
 'CIG30USE_5.0',
 'CIG30USE_6.0',
 'CIG30USE_8.0',
 'CIG30USE_10.0',
 'CIG30USE_16.0',
 'CIG30USE_17.0',
 'CIG30USE_19.0',
 'CIG30USE_21.0',
 'CIG30USE_22.0',
 'CIG30USE_23.0',
 'CIG30USE_25.0',
 'CIG30USE_26.0',
 'CIG30USE_28.0',
 'CIG30USE_29.0',
 'CIG30USE_30.0',
 'CG30EST_4.0',
 'CIG30AV_2.0',
 'CIG30AV_7.0',
 'CIG30BR2_102.0',
 'CIG30BR2_109.0',
 'CIG30BR2_114.0',
 'CIG30BR2_118.0',
 'CIG30BR2_120.0',
 'CIG30BR2_126.0',
 'CIG30BR2_132.0',
 'CIG30BR2_142.0',
 'CIG30BR2_144.0',
 'CIG30BR2_147.0',
 'CIG30BR2_148.0',
 'CIG30BR2_149.0',
 'CIG30BR2_175.0',
 'CIG30BR2_178.0',
 'CIG30BR2_179.0',
 'CIG30BR2_404.0',
 'CIG30BR2_419.0',
 'CIG30BR2_1064.0',
 'CIG30BR2_1083.0',
 'CIG30BR2_1139.0',
 'CIG30BR2_1227.0',
 'CIG30BR2_1268.0',
 'CIG30BR2_1283.0',
 'CIG30BR2_1296.0',
 'CIG30BR2_1335.0',
 'CIG30BR2_1344.0',
 'CIG30BR2_1349.0',
 'CIG30BR2_1359.0',
 'CIG30BR2_1372.0',
 'CIG30BR2_1998.0',
 'CIG30BR2_5999.0',
 'CIG30TPE_2.0',
 'CIG30TPE_3.0',
 'CIG30MEN_2.0',
 'CIG30MLN_3.0',
 'CIG30RO2_2.0',
 'CIGAGE_6.0',
 'CIGAGE_7.0',
 'CIGAGE_9.0',
 'CIGAGE_11.0',
 'CIGAGE_12.0',
 'CIGAGE_15.0',
 'CIGAGE_16.0',
 'CIGAGE_20.0',
 'CIGAGE_21.0',
 'CIGAGE_22.0',
 'CIGAGE_23.0',
 'CIGAGE_26.0',
 'CIGAGE_28.0',
 'CIGAGE_30.0',
 'CIGAGE_32.0',
 'CIGAGE_35.0',
 'CIGAGE_37.0',
 'CIGAGE_38.0',
 'CIGAGE_40.0',
 'CIGAGE_48.0',
 'CIGAGE_50.0',
 'CIGDLYFU_2015.0',
 'CIGDLYFU_2017.0',
 'CIGDLMFU_2.0',
 'CIGDLMFU_3.0',
 'CIGDLMFU_4.0',
 'CIGDLMFU_5.0',
 'CIGDLMFU_7.0',
 'CIGDLMFU_8.0',
 'CIGDLMFU_9.0',
 'CIGDLMFU_11.0',
 'CIG100LF_1.0',
 'SMKLSSTRY_1.0',
 'SMKLSSTRY_5.0',
 'SMKLSSTRY_9.0',
 'SMKLSSTRY_10.0',
 'SMKLSSTRY_11.0',
 'SMKLSSTRY_12.0',
 'SMKLSSTRY_13.0',
 'SMKLSSTRY_15.0',
 'SMKLSSTRY_16.0',
 'SMKLSSTRY_21.0',
 'SMKLSSTRY_22.0',
 'SMKLSSTRY_23.0',
 'SMKLSSTRY_24.0',
 'SMKLSSTRY_25.0',
 'SMKLSSTRY_26.0',
 'SMKLSSTRY_27.0',
 'SMKLSSTRY_28.0',
 'SMKLSSTRY_30.0',
 'SMKLSSTRY_31.0',
 'SMKLSSTRY_33.0',
 'SMKLSSTRY_34.0',
 'SMKLSSTRY_35.0',
 'SMKLSSTRY_41.0',
 'SMKLSSTRY_42.0',
 'SMKLSSTRY_44.0',
 'SMKLSSTRY_45.0',
 'SMKLSSTRY_47.0',
 'SMKLSSTRY_50.0',
 'SMKLSSYFU_2017.0',
 'SMKLSSMFU_2.0',
 'SMKLSSMFU_4.0',
 'SMKLSSMFU_6.0',
 'SMKLSSMFU_7.0',
 'SMKLSSMFU_10.0',
 'SMKLSSREC_2.0',
 'SMKLSSREC_19.0',
 'SMKLSS30N_2.0',
 'SMKLSS30N_3.0',
 'SMKLSS30N_4.0',
 'SMKLSS30N_5.0',
 'SMKLSS30N_7.0',
 'SMKLSS30N_8.0',
 'SMKLSS30N_10.0',
 'SMKLSS30N_16.0',
 'SMKLSS30N_17.0',
 'SMKLSS30N_22.0',
 'CIGARTRY_7.0',
 'CIGARTRY_8.0',
 'CIGARTRY_9.0',
 'CIGARTRY_10.0',
 'CIGARTRY_12.0',
 'CIGARTRY_18.0',
 'CIGARTRY_19.0',
 'CIGARTRY_20.0',
 'CIGARTRY_22.0',
 'CIGARTRY_23.0',
 'CIGARTRY_24.0',
 'CIGARTRY_25.0',
 'CIGARTRY_26.0',
 'CIGARTRY_27.0',
 'CIGARTRY_28.0',
 'CIGARTRY_29.0',
 'CIGARTRY_30.0',
 'CIGARTRY_31.0',
 'CIGARTRY_35.0',
 'CIGARTRY_36.0',
 'CIGARTRY_37.0',
 'CIGARTRY_38.0',
 'CIGARTRY_39.0',
 'CIGARTRY_40.0',
 'CIGARTRY_42.0',
 'CIGARTRY_43.0',
 'CIGARTRY_44.0',
 'CIGARTRY_45.0',
 'CIGARTRY_47.0',
 'CIGARTRY_48.0',
 'CIGARTRY_49.0',
 'CIGARTRY_60.0',
 'CIGARTRY_61.0',
 'CIGARTRY_64.0',
 'CIGARYFU_2015.0',
 'CIGARYFU_2016.0',
 'CIGARYFU_2017.0',
 'CIGARMFU_4.0',
 'CIGARMFU_6.0',
 'CIGARMFU_7.0',
 'CIGARMFU_8.0',
 'CIGARMFU_11.0',
 'CIGARMFU_12.0',
 'CIGARREC_14.0',
 'CIGARREC_29.0',
 'CGR30USE_1.0',
 'CGR30USE_3.0',
 'CGR30USE_4.0',
 'CGR30USE_5.0',
 'CGR30USE_7.0',
 'CGR30USE_8.0',
 'CGR30USE_10.0',
 'CGR30USE_11.0',
 'CGR30USE_12.0',
 'CGR30USE_15.0',
 'CGR30USE_18.0',
 'CGR30USE_20.0',
 'CGR30USE_23.0',
 'CGR30USE_25.0',
 'CGR30USE_27.0',
 'CGR30USE_28.0',
 'CGR30USE_30.0',
 'CGR30BR2_112.0',
 'CGR30BR2_404.0',
 'CGR30BR2_408.0',
 'CGR30BR2_411.0',
 'CGR30BR2_415.0',
 'CGR30BR2_416.0',
 'CGR30BR2_419.0',
 'CGR30BR2_423.0',
 'CGR30BR2_431.0',
 'CGR30BR2_437.0',
 'CGR30BR2_443.0',
 'CGR30BR2_448.0',
 'CGR30BR2_492.0',
 'CGR30BR2_496.0',
 'CGR30BR2_4054.0',
 'CGR30BR2_4110.0',
 'CGR30BR2_4237.0',
 'CGR30BR2_4245.0',
 'CGR30BR2_4458.0',
 'CGR30BR2_4999.0',
 'PIPEVER_1.0',
 'PIPEVER_2.0',
 'PIPE30DY_1.0',
 'PIPE30DY_2.0',
 'ALCTRY_1.0',
 'ALCTRY_3.0',
 'ALCTRY_7.0',
 'ALCTRY_8.0',
 'ALCTRY_9.0',
 'ALCTRY_10.0',
 'ALCTRY_11.0',
 'ALCTRY_14.0',
 'ALCTRY_19.0',
 'ALCTRY_23.0',
 'ALCTRY_24.0',
 'ALCTRY_25.0',
 'ALCTRY_30.0',
 'ALCTRY_31.0',
 'ALCTRY_33.0',
 'ALCTRY_34.0',
 'ALCTRY_35.0',
 'ALCTRY_36.0',
 'ALCTRY_38.0',
 'ALCTRY_42.0',
 'ALCTRY_52.0',
 'ALCYFU_2016.0',
 'ALCYFU_2017.0',
 'ALCMFU_1.0',
 'ALCMFU_3.0',
 'ALCMFU_4.0',
 'ALCMFU_5.0',
 'ALCMFU_6.0',
 'ALCMFU_7.0',
 'ALCMFU_8.0',
 'ALCMFU_9.0',
 'ALCMFU_10.0',
 'ALCMFU_11.0',
 'ALCMFU_12.0',
 'ALCREC_3.0',
 'ALCYRTOT_1.0',
 'ALCYRTOT_2.0',
 'ALCYRTOT_4.0',
 'ALCYRTOT_7.0',
 'ALCYRTOT_11.0',
 'ALCYRTOT_12.0',
 'ALCYRTOT_13.0',
 'ALCYRTOT_14.0',
 'ALCYRTOT_16.0',
 'ALCYRTOT_18.0',
 'ALCYRTOT_21.0',
 'ALCYRTOT_22.0',
 'ALCYRTOT_23.0',
 'ALCYRTOT_24.0',
 'ALCYRTOT_25.0',
 'ALCYRTOT_26.0',
 'ALCYRTOT_28.0',
 'ALCYRTOT_30.0',
 'ALCYRTOT_32.0',
 'ALCYRTOT_38.0',
 'ALCYRTOT_40.0',
 'ALCYRTOT_45.0',
 'ALCYRTOT_48.0',
 'ALCYRTOT_52.0',
 'ALCYRTOT_56.0',
 'ALCYRTOT_62.0',
 'ALCYRTOT_70.0',
 'ALCYRTOT_84.0',
 'ALCYRTOT_96.0',
 'ALCYRTOT_100.0',
 'ALCYRTOT_105.0',
 'ALCYRTOT_108.0',
 'ALCYRTOT_120.0',
 'ALCYRTOT_123.0',
 'ALCYRTOT_140.0',
 'ALCYRTOT_144.0',
 'ALCYRTOT_180.0',
 'ALCYRTOT_192.0',
 'ALCYRTOT_204.0',
 'ALCYRTOT_265.0',
 'ALCYRTOT_288.0',
 'ALCYRTOT_291.0',
 'ALCYRTOT_312.0',
 'ALCYRTOT_324.0',
 'ALCYRTOT_336.0',
 'ALCYRTOT_337.0',
 'ALCYRTOT_338.0',
 'ALCYRTOT_340.0',
 'ALCYRTOT_342.0',
 'ALCYRTOT_347.0',
 'ALCYRTOT_350.0',
 'ALCYRTOT_353.0',
 'ALCYRTOT_359.0',
 'ALCYRTOT_360.0',
 'ALCYRTOT_361.0',
 'ALCYRTOT_363.0',
 'ALCYRTOT_364.0',
 'ALCYRTOT_365.0',
 'ALTOTFG_1.0',
 'ALTOTFG_2.0',
 'ALFQFLG_1.0',
 'ALBSTWAY_3.0',
 'ALBSTWAY_11.0',
 'ALBSTWAY_12.0',
 'ALBSTWAY_13.0',
 'ALDAYPYR_1.0',
 'ALDAYPYR_3.0',
 'ALDAYPYR_4.0',
 'ALDAYPYR_7.0',
 'ALDAYPYR_8.0',
 'ALDAYPYR_11.0',
 'ALDAYPYR_13.0',
 'ALDAYPYR_14.0',
 'ALDAYPYR_16.0',
 'ALDAYPYR_23.0',
 'ALDAYPYR_25.0',
 'ALDAYPYR_26.0',
 'ALDAYPYR_36.0',
 'ALDAYPYR_40.0',
 'ALDAYPYR_45.0',
 'ALDAYPYR_48.0',
 'ALDAYPYR_56.0',
 'ALDAYPYR_60.0',
 'ALDAYPYR_70.0',
 'ALDAYPYR_100.0',
 'ALDAYPYR_105.0',
 'ALDAYPYR_120.0',
 'ALDAYPYR_123.0',
 'ALDAYPYR_140.0',
 'ALDAYPYR_180.0',
 'ALDAYPYR_265.0',
 'ALDAYPYR_291.0',
 'ALDAYPYR_300.0',
 'ALDAYPYR_350.0',
 'ALDAYPYR_360.0',
 'ALDAYPYR_365.0',
 'ALDAYPMO_1.0',
 'ALDAYPMO_2.0',
 'ALDAYPMO_3.0',
 'ALDAYPMO_7.0',
 'ALDAYPMO_8.0',
 'ALDAYPMO_9.0',
 'ALDAYPMO_12.0',
 'ALDAYPMO_13.0',
 'ALDAYPMO_16.0',
 'ALDAYPMO_17.0',
 'ALDAYPMO_24.0',
 'ALDAYPMO_26.0',
 'ALDAYPMO_27.0',
 'ALDAYPMO_28.0',
 'ALDAYPWK_1.0',
 'ALDAYPWK_2.0',
 'ALDAYPWK_6.0',
 'ALCDAYS_5.0',
 'ALCDAYS_7.0',
 'ALCDAYS_8.0',
 'ALCDAYS_9.0',
 'ALCDAYS_10.0',
 'ALCDAYS_12.0',
 'ALCDAYS_13.0',
 'ALCDAYS_14.0',
 'ALCDAYS_17.0',
 'ALCDAYS_18.0',
 'ALCDAYS_19.0',
 'ALCDAYS_20.0',
 'ALCDAYS_22.0',
 'ALCDAYS_23.0',
 'ALCDAYS_26.0',
 'ALCDAYS_27.0',
 'ALCDAYS_30.0',
 'AL30EST_3.0',
 'ALDYSFG_1.0',
 'ALCUS30D_3.0',
 'ALCUS30D_7.0',
 'ALCUS30D_8.0',
 'ALCUS30D_9.0',
 'ALCUS30D_10.0',
 'ALCUS30D_12.0',
 'ALCUS30D_13.0',
 'ALCUS30D_14.0',
 'ALCUS30D_15.0',
 'ALCUS30D_16.0',
 'ALCUS30D_17.0',
 'ALCUS30D_20.0',
 'ALCUS30D_22.0',
 'ALCUS30D_24.0',
 'ALCUS30D_25.0',
 'ALCUS30D_30.0',
 'ALCUS30D_33.0',
 'ALCUS30D_48.0',
 'ALCBNG30D_0.0',
 'ALCBNG30D_3.0',
 'ALCBNG30D_4.0',
 'ALCBNG30D_6.0',
 'ALCBNG30D_7.0',
 'ALCBNG30D_9.0',
 'ALCBNG30D_10.0',
 'ALCBNG30D_11.0',
 'ALCBNG30D_14.0',
 'ALCBNG30D_17.0',
 'ALCBNG30D_20.0',
 'ALCBNG30D_24.0',
 'ALCBNG30D_25.0',
 'ALCBNG30D_26.0',
 'ALCBNG30D_28.0',
 'ALCBNG30D_29.0',
 'ALCBNG30D_80.0',
 'MJEVER_1.0',
 'MJAGE_1.0',
 'MJAGE_2.0',
 'MJAGE_8.0',
 'MJAGE_9.0',
 'MJAGE_10.0',
 'MJAGE_12.0',
 'MJAGE_16.0',
 'MJAGE_17.0',
 'MJAGE_19.0',
 'MJAGE_21.0',
 'MJAGE_22.0',
 'MJAGE_23.0',
 'MJAGE_24.0',
 'MJAGE_25.0',
 'MJAGE_27.0',
 'MJAGE_29.0',
 'MJAGE_30.0',
 'MJAGE_31.0',
 'MJAGE_32.0',
 'MJAGE_33.0',
 'MJAGE_34.0',
 'MJAGE_35.0',
 'MJAGE_36.0',
 'MJAGE_38.0',
 'MJAGE_39.0',
 'MJAGE_40.0',
 'MJAGE_47.0',
 'MJAGE_49.0',
 'MJAGE_60.0',
 'MJAGE_65.0',
 'MJAGE_75.0',
 'MJYFU_2015.0',
 'MJYFU_2016.0',
 'MJMFU_1.0',
 'MJMFU_2.0',
 'MJMFU_4.0',
 'MJMFU_5.0',
 'MJMFU_6.0',
 'MJMFU_8.0',
 'MJMFU_9.0',
 'MJMFU_11.0',
 'MJMFU_12.0',
 'MJREC_1.0',
 'MJREC_2.0',
 'MJYRTOT_2.0',
 'MJYRTOT_3.0',
 'MJYRTOT_4.0',
 'MJYRTOT_7.0',
 'MJYRTOT_8.0',
 'MJYRTOT_10.0',
 'MJYRTOT_12.0',
 'MJYRTOT_16.0',
 'MJYRTOT_23.0',
 'MJYRTOT_30.0',
 'MJYRTOT_31.0',
 'MJYRTOT_40.0',
 'MJYRTOT_48.0',
 'MJYRTOT_55.0',
 'MJYRTOT_60.0',
 'MJYRTOT_72.0',
 'MJYRTOT_80.0',
 'MJYRTOT_84.0',
 'MJYRTOT_95.0',
 'MJYRTOT_96.0',
 'MJYRTOT_100.0',
 'MJYRTOT_108.0',
 'MJYRTOT_109.0',
 'MJYRTOT_120.0',
 'MJYRTOT_132.0',
 'MJYRTOT_137.0',
 'MJYRTOT_144.0',
 'MJYRTOT_145.0',
 'MJYRTOT_156.0',
 'MJYRTOT_200.0',
 'MJYRTOT_208.0',
 'MJYRTOT_216.0',
 'MJYRTOT_240.0',
 'MJYRTOT_300.0',
 'MJYRTOT_312.0',
 'MJYRTOT_336.0',
 'MJYRTOT_337.0',
 'MJYRTOT_338.0',
 'MJYRTOT_341.0',
 'MJYRTOT_343.0',
 'MJYRTOT_344.0',
 'MJYRTOT_345.0',
 'MJYRTOT_347.0',
 'MJYRTOT_351.0',
 'MJYRTOT_355.0',
 'MJYRTOT_358.0',
 'MJYRTOT_361.0',
 'MJYRTOT_363.0',
 'MRTOTFG_2.0',
 'MJFQFLG_1.0',
 'MRBSTWAY_2.0',
 'MRBSTWAY_3.0',
 'MRBSTWAY_12.0',
 'MRDAYPYR_1.0',
 'MRDAYPYR_5.0',
 'MRDAYPYR_7.0',
 'MRDAYPYR_8.0',
 'MRDAYPYR_10.0',
 'MRDAYPYR_12.0',
 'MRDAYPYR_30.0',
 'MRDAYPYR_31.0',
 'MRDAYPYR_40.0',
 'MRDAYPYR_55.0',
 'MRDAYPYR_60.0',
 'MRDAYPYR_80.0',
 'MRDAYPYR_100.0',
 'MRDAYPYR_109.0',
 'MRDAYPYR_120.0',
 'MRDAYPYR_200.0',
 'MRDAYPYR_300.0',
 'MRDAYPYR_360.0',
 'MRDAYPMO_2.0',
 'MRDAYPMO_4.0',
 'MRDAYPMO_5.0',
 'MRDAYPMO_6.0',
 'MRDAYPMO_7.0',
 'MRDAYPMO_8.0',
 'MRDAYPMO_9.0',
 'MRDAYPMO_11.0',
 'MRDAYPMO_12.0',
 'MRDAYPMO_15.0',
 'MRDAYPMO_18.0',
 'MRDAYPMO_25.0',
 'MRDAYPMO_26.0',
 'MRDAYPMO_30.0',
 'MRDAYPMO_31.0',
 'MRDAYPWK_4.0',
 'MRDAYPWK_6.0',
 'MRDAYPWK_7.0',
 'MJDAY30A_1.0',
 'MJDAY30A_3.0',
 'MJDAY30A_4.0',
 'MJDAY30A_5.0',
 'MJDAY30A_6.0',
 'MJDAY30A_7.0',
 'MJDAY30A_9.0',
 'MJDAY30A_11.0',
 'MJDAY30A_12.0',
 'MJDAY30A_14.0',
 'MJDAY30A_15.0',
 'MJDAY30A_16.0',
 'MJDAY30A_20.0',
 'MJDAY30A_22.0',
 'MJDAY30A_23.0',
 'MJDAY30A_24.0',
 'MJDAY30A_26.0',
 'MJDAY30A_27.0',
 'MJDAY30A_28.0',
 'MJDAY30A_29.0',
 'MJDAY30A_30.0',
 'MR30EST_3.0',
 'MR30EST_4.0',
 'COCAGE_8.0',
 'COCAGE_11.0',
 'COCAGE_12.0',
 'COCAGE_14.0',
 'COCAGE_15.0',
 'COCAGE_16.0',
 'COCAGE_17.0',
 'COCAGE_19.0',
 'COCAGE_24.0',
 'COCAGE_25.0',
 'COCAGE_27.0',
 'COCAGE_28.0',
 'COCAGE_29.0',
 'COCAGE_30.0',
 'COCAGE_36.0',
 'COCAGE_38.0',
 'COCAGE_46.0',
 'COCAGE_48.0',
 'COCYFU_2015.0',
 'COCYFU_2017.0',
 'COCMFU_1.0',
 'COCMFU_4.0',
 'COCMFU_5.0',
 'COCMFU_9.0',
 'COCREC_2.0',
 'COCREC_12.0',
 'COCYRTOT_1.0',
 'COCYRTOT_3.0',
 'COCYRTOT_4.0',
 'COCYRTOT_6.0',
 'COCYRTOT_10.0',
 'COCYRTOT_15.0',
 'COCYRTOT_24.0',
 'COCYRTOT_30.0',
 'COCYRTOT_40.0',
 'COCYRTOT_48.0',
 'COCYRTOT_52.0',
 'COCYRTOT_60.0',
 'COCYRTOT_72.0',
 'COCYRTOT_144.0',
 'COCYRTOT_240.0',
 'COCYRTOT_260.0',
 'CCBSTWAY_1.0',
 'CCBSTWAY_21.0',
 'CCDAYPYR_1.0',
 'CCDAYPYR_3.0',
 'CCDAYPYR_6.0',
 'CCDAYPYR_10.0',
 'CCDAYPYR_15.0',
 'CCDAYPYR_30.0',
 'CCDAYPYR_40.0',
 'CCDAYPMO_1.0',
 'CCDAYPMO_2.0',
 'CCDAYPMO_3.0',
 'CCDAYPMO_4.0',
 'CCDAYPMO_6.0',
 'CCDAYPMO_12.0',
 'CCDAYPMO_20.0',
 'CCDAYPWK_5.0',
 'COCUS30A_1.0',
 'COCUS30A_2.0',
 'COCUS30A_3.0',
 'COCUS30A_5.0',
 'COCUS30A_6.0',
 'COCUS30A_15.0',
 'CRKEVER_1.0',
 'CRKAGE_12.0',
 'CRKAGE_13.0',
 'CRKAGE_14.0',
 'CRKAGE_15.0',
 'CRKAGE_16.0',
 'CRKAGE_17.0',
 'CRKAGE_18.0',
 'CRKAGE_20.0',
 'CRKAGE_21.0',
 'CRKAGE_22.0',
 'CRKAGE_24.0',
 'CRKAGE_26.0',
 'CRKAGE_29.0',
 'CRKAGE_30.0',
 'CRKAGE_33.0',
 'CRKAGE_34.0',
 'CRKAGE_35.0',
 'CRKAGE_36.0',
 'CRKAGE_37.0',
 'CRKAGE_38.0',
 'CRKAGE_46.0',
 'CRKAGE_48.0',
 'CRKAGE_50.0',
 'CRKAGE_52.0',
 'CRKYFU_2016.0',
 'CRKMFU_5.0',
 'CRKMFU_10.0',
 'CRAKREC_2.0',
 'CRAKREC_8.0',
 'CRKYRTOT_1.0',
 'CRKYRTOT_15.0',
 'CRKYRTOT_24.0',
 'CRKYRTOT_38.0',
 'CRFQFLG_1.0',
 'CRBSTWAY_2.0',
 'CRDAYPYR_1.0',
 'CRDAYPYR_15.0',
 'CRDAYPMO_2.0',
 'CRDAYPWK_2.0',
 'CRKUS30A_10.0',
 'HERAGE_13.0',
 'HERAGE_14.0',
 'HERAGE_16.0',
 'HERAGE_17.0',
 'HERAGE_18.0',
 'HERAGE_19.0',
 'HERAGE_20.0',
 'HERAGE_22.0',
 'HERAGE_26.0',
 'HERAGE_27.0',
 'HERAGE_29.0',
 'HERAGE_30.0',
 'HERAGE_31.0',
 'HERAGE_34.0',
 'HERAGE_35.0',
 'HERAGE_36.0',
 'HERAGE_48.0',
 'HERYFU_2016.0',
 'HERMFU_7.0',
 'HERMFU_8.0',
 'HERMFU_11.0',
 'HERREC_1.0',
 'HERREC_2.0',
 'HERREC_8.0',
 'HERYRTOT_1.0',
 'HERYRTOT_6.0',
 'HERYRTOT_9.0',
 'HERYRTOT_16.0',
 'HERYRTOT_48.0',
 'HERYRTOT_95.0',
 'HERYRTOT_260.0',
 'HRBSTWAY_2.0',
 'HRBSTWAY_3.0',
 'HRDAYPYR_1.0',
 'HRDAYPYR_6.0',
 'HRDAYPYR_9.0',
 'HRDAYPYR_16.0',
 'HRDAYPYR_95.0',
 'HRDAYPMO_4.0',
 'HRDAYPWK_5.0',
 'HRDAYPWK_7.0',
 'HER30USE_20.0',
 'LSD_1.0',
 'LSD_3.0',
 'MESC_2.0',
 'PSILCY_2.0',
 'PSILCY_3.0',
 'ECSTMOLLY_2.0',
 'KETMINESK_1.0',
 'KETMINESK_2.0',
 'DMTAMTFXY_1.0',
 'DMTAMTFXY_2.0',
 'HALLUCOTH_2.0',
 'HALLUCOTH_5.0',
 'HALLUCOT1_174.0',
 'HALLUCOT1_508.0',
 'HALLUCOT1_531.0',
 'HALLUCOT1_592.0',
 'HALLUCOT1_599.0',
 'HALLUCOT1_601.0',
 'HALLUCOT1_610.0',
 'HALLUCOT1_618.0',
 'HALLUCOT1_625.0',
 'HALLUCOT1_703.0',
 'HALLUCOT1_883.0',
 'HALLUCOT1_3132.0',
 'HALLUCOT1_6029.0',
 'HALLUCOT1_6074.0',
 'HALLUCOT1_6100.0',
 'HALLUCOT1_6185.0',
 'HALLUCOT1_8012.0',
 'HALLUCOT1_8283.0',
 'HALLUCOT2_601.0',
 'HALLUCOT2_607.0',
 'HALLUCOT2_698.0',
 'HALLUCOT2_703.0',
 'HALLUCOT3_709.0',
 'HALLUCOT3_6044.0',
 'HALLUCOT3_6138.0',
 'HALLUCOT4_604.0',
 'HALLUCOT4_6138.0',
 'HALLUCAGE_1.0',
 'HALLUCAGE_12.0',
 'HALLUCAGE_13.0',
 'HALLUCAGE_14.0',
 'HALLUCAGE_15.0',
 'HALLUCAGE_17.0',
 'HALLUCAGE_18.0',
 'HALLUCAGE_21.0',
 'HALLUCAGE_23.0',
 'HALLUCAGE_24.0',
 'HALLUCAGE_25.0',
 'HALLUCAGE_26.0',
 'HALLUCAGE_27.0',
 'HALLUCAGE_29.0',
 'HALLUCAGE_32.0',
 'HALLUCAGE_34.0',
 'HALLUCAGE_35.0',
 'HALLUCAGE_40.0',
 'HALLUCAGE_48.0',
 'HALLUCYFU_2016.0',
 'HALLUCMFU_1.0',
 'HALLUCMFU_2.0',
 'HALLUCMFU_4.0',
 'HALLUCMFU_5.0',
 'HALLUCMFU_6.0',
 'HALLUCMFU_7.0',
 'HALLUCMFU_8.0',
 'HALLUCMFU_9.0',
 'HALLUCMFU_10.0',
 'HALLUCMFU_11.0',
 'HALLUCREC_2.0',
 'HALLUCREC_8.0',
 'HALLUCREC_12.0',
 'HALLUCYFQ_2.0',
 'HALLUCYFQ_5.0',
 'HALLUCYFQ_8.0',
 'HALLUCYFQ_21.0',
 'HALLUCYFQ_24.0',
 'HALLUCYFQ_52.0',
 'HALLUCYFQ_60.0',
 'HALLUCYFQ_156.0',
 'HALLUCYFQ_312.0',
 'HALLDYSYR_5.0',
 'HALLDYSYR_8.0',
 'HALLDYSYR_12.0',
 'HALLDYPMO_4.0',
 'HALLDYPMO_5.0',
 'HALLDYPWK_3.0',
 'HALLDYPWK_6.0',
 'HALLUC30N_3.0',
 'HALLUC30N_5.0',
 'HALLUC30N_10.0',
 'HALLUC30N_12.0',
 'HALLUC30N_23.0',
 'LSDAGE_9.0',
 'LSDAGE_12.0',
 'LSDAGE_13.0',
 'LSDAGE_14.0',
 'LSDAGE_15.0',
 'LSDAGE_17.0',
 'LSDAGE_20.0',
 'LSDAGE_22.0',
 'LSDAGE_25.0',
 'LSDAGE_26.0',
 'LSDAGE_27.0',
 'LSDAGE_28.0',
 'LSDAGE_29.0',
 'LSDAGE_30.0',
 'LSDAGE_33.0',
 'LSDAGE_35.0',
 'LSDAGE_47.0',
 'LSDAGE_48.0',
 'LSDYFU_2016.0',
 'LSDMFU_4.0',
 'LSDMFU_5.0',
 'LSDMFU_9.0',
 'LSDMFU_10.0',
 'LSDREC_1.0',
 'LSDREC_3.0',
 'LSDREC_9.0',
 'PCPAGE_13.0',
 'PCPAGE_14.0',
 'PCPAGE_16.0',
 'PCPAGE_17.0',
 'PCPAGE_18.0',
 'PCPAGE_19.0',
 'PCPAGE_20.0',
 'PCPAGE_21.0',
 'PCPAGE_23.0',
 'PCPAGE_27.0',
 'PCPAGE_35.0',
 'PCPYFU_2016.0',
 'PCPMFU_7.0',
 'PCPREC_1.0',
 'PCPREC_3.0',
 'PCPREC_9.0',
 'ECSTMOAGE_13.0',
 'ECSTMOAGE_15.0',
 'ECSTMOAGE_16.0',
 'ECSTMOAGE_17.0',
 'ECSTMOAGE_20.0',
 'ECSTMOAGE_21.0',
 'ECSTMOAGE_22.0',
 'ECSTMOAGE_24.0',
 'ECSTMOAGE_25.0',
 'ECSTMOAGE_26.0',
 'ECSTMOAGE_28.0',
 'ECSTMOAGE_29.0',
 'ECSTMOAGE_30.0',
 'ECSTMOAGE_34.0',
 'ECSTMOAGE_35.0',
 'ECSTMOAGE_38.0',
 'ECSTMOYFU_2017.0',
 'ECSTMOMFU_1.0',
 'ECSTMOMFU_2.0',
 'ECSTMOMFU_3.0',
 'ECSTMOMFU_4.0',
 'ECSTMOMFU_6.0',
 'ECSTMOMFU_9.0',
 'ECSTMOMFU_10.0',
 'ECSTMOMFU_11.0',
 'ECSTMOREC_1.0',
 'ECSTMOREC_2.0',
 'ECSTMOREC_3.0',
 'ECSTMOREC_8.0',
 'ECSTMOREC_9.0',
 'KETMINREC_1.0',
 'KETMINREC_2.0',
 'KETMINREC_3.0',
 'DAMTFXREC_2.0',
 'SALVIAREC_2.0',
 'SALVIAREC_9.0',
 'AMYLNIT_1.0',
 'CLEFLU_1.0',
 'CLEFLU_3.0',
 'GAS_2.0',
 'ETHER_1.0',
 'SOLVENT_1.0',
 'SOLVENT_2.0',
 'NITOXID_1.0',
 'NITOXID_2.0',
 'FELTMARKR_1.0',
 'FELTMARKR_2.0',
 'SPPAINT_1.0',
 'AIRDUSTER_1.0',
 'OTHAEROS_1.0',
 'OTHAEROS_2.0',
 'INHALOTH_1.0',
 'INHALOTH_2.0',
 'INHALOT1_503.0',
 'INHALOT1_509.0',
 'INHALOT1_510.0',
 'INHALOT1_519.0',
 'INHALOT1_540.0',
 'INHALOT2_510.0',
 'INHALOT2_524.0',
 'INHALAGE_5.0',
 'INHALAGE_6.0',
 'INHALAGE_7.0',
 'INHALAGE_8.0',
 'INHALAGE_9.0',
 'INHALAGE_10.0',
 'INHALAGE_11.0',
 'INHALAGE_12.0',
 'INHALAGE_13.0',
 'INHALAGE_16.0',
 'INHALAGE_17.0',
 'INHALAGE_18.0',
 'INHALAGE_19.0',
 'INHALAGE_21.0',
 'INHALAGE_22.0',
 'INHALAGE_24.0',
 'INHALAGE_25.0',
 'INHALAGE_26.0',
 'INHALAGE_30.0',
 'INHALAGE_35.0',
 'INHALAGE_36.0',
 'INHALAGE_39.0',
 'INHALAGE_43.0',
 'INHALAGE_50.0',
 'INHALYFU_2015.0',
 'INHALYFU_2016.0',
 'INHALMFU_4.0',
 'INHALMFU_6.0',
 'INHALMFU_8.0',
 'INHALMFU_10.0',
 'INHALMFU_11.0',
 'INHALREC_1.0',
 'INHALREC_8.0',
 'INHALREC_9.0',
 'INHALYFQ_2.0',
 'INHALYFQ_3.0',
 'INHALYFQ_5.0',
 'INHALYFQ_11.0',
 'INHALYFQ_12.0',
 ...]

In [ ]:
use_col = ['CATAG6','NOMARR2','SERVICE','HEALTH','MOVSINPYR2','SEXATRACT','DIFFHEAR','DIFFSEE','DIFFTHINK','DIFFWALK',
           'DIFFDRESS','DIFFERAND','IRSEX','IRMARIT','IREDUHIGHST2','NEWRACE2','EDUHIGHCAT','EDUSCHLGO','WRKSTATWK2',
           'EDFAM18','PRVHLTIN','HLCNOTYR','IRPINC3','IFAMIN3','INCOME','POVERTY','MAIIN102','BOOKED','TXEVRRCVD',
           'PREGNANT','HTINCHE2','WTPOUND2','INHOSPYR','NMVSOEST','AUINPYR','AUOPTYR','AURXYR','AUUNMTYR','SNYSELL',
           'SNYSTOLE','SNYATTAK','SNRLGIMP','DSTWORST','ADDPREV','AMDELT']