CONTENT WARNING: explicit and multiple references to suicide attemps and suicidal ideation

The following is an analysis regarding attempted suicides and suicidal thoughts. Questions around these topics will be directly referenced and mentioned explicitly. While their potential correlations with other parameters will be analysed and discussed at length, suicide attempts and suicidal ideation as concepts will not be discussed. Deaths by suicide will not be referenced or discussed at all.

Please only continue if it comfortable for you to do so.

In [32]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
from sklearn.cross_validation import train_test_split
import seaborn as sb
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import pickle

National Survey on Drug Use and Health 2017 results, from SAMHDA, Substance Abuse and Mental Health Data Archive ( https://www.datafiles.samhsa.gov/study-series/national-survey-drug-use-and-health-nsduh-nid13517 ), after agreeing to their terms of use.

In [33]:
df = pd.DataFrame.from_csv('NSDUH_2017_Tab.tsv',sep='\t')

/anaconda3/envs/condasc/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [34]:
df

,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
QUESTID2,,,,,,,,,,,,,,,,,,,,,
55235143,10/09/2018,1,99,99,13,9999,99,4,93,93,...,3.0,2,2,1,1,2,2,11203.888954,40043,1
13435143,10/09/2018,1,99,99,15,9999,99,1,18,99,...,3.0,1,2,1,1,2,2,9496.462244,40006,2
81345143,10/09/2018,1,99,99,14,9999,99,1,10,99,...,3.0,2,2,1,1,2,2,2943.702802,40030,2
53955143,10/09/2018,1,99,99,16,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,1783.702549,40026,2
51775143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,1,1,1,1,2,2,31528.749357,40029,1
47796143,10/09/2018,1,99,99,15,9999,99,4,93,93,...,1.0,2,2,3,3,2,2,13593.927387,40035,1
13196143,10/09/2018,1,99,99,15,9999,99,3,93,93,...,3.0,2,2,3,3,2,2,3486.457416,40011,2
81726143,10/09/2018,1,99,99,14,9999,99,3,93,93,...,2.0,2,2,2,2,2,2,782.266930,40032,2
61536143,10/09/2018,1,99,99,985,9998,98,14,93,93,...,1.0,2,2,2,3,2,2,836.875263,40024,2
10636143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,1.0,2,2,1,1,2,2,782.663302,40001,2
17456143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,1,1,2,2,226.131988,40050,2
92386143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3711.107685,40020,2
17407143,10/09/2018,1,99,99,16,9999,99,1,5,99,...,2.0,2,2,1,1,2,2,3799.464467,40020,2
66317143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,11139.262657,40039,2
83617143,10/09/2018,1,99,99,18,9999,99,4,93,93,...,3.0,2,2,2,1,2,2,10111.469157,40007,2
81437143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,3,3,2,2,4746.662453,40032,1
37837143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,2,2,2,2,3331.878270,40026,2
35037143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,1.0,2,2,2,2,2,2,2454.500788,40042,2
10057143,10/09/2018,1,99,99,12,9999,99,4,93,93,...,3.0,2,2,2,1,2,2,14246.667717,40032,1
11577143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,54.413648,40017,1
34608143,10/09/2018,1,99,99,12,9999,99,1,30,99,...,2.0,2,2,2,2,2,2,3481.596088,40013,2
33708143,10/09/2018,1,99,99,17,9999,99,4,93,93,...,2.0,2,2,2,2,2,2,1022.448042,40042,2
81338143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,1397.196575,40021,1
58638143,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,628.886384,40016,2
67258143,10/09/2018,1,99,99,16,9999,99,1,30,99,...,3.0,1,2,1,1,2,2,6743.251764,40031,2
88158143,10/09/2018,1,99,99,11,9999,99,4,93,93,...,2.0,2,2,2,2,2,2,453.770716,40013,1
46168143,10/09/2018,1,99,99,18,9999,99,3,93,93,...,2.0,2,2,3,3,2,2,3241.107961,40032,1
95078143,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,2205.222263,40029,2
33899143,10/09/2018,1,99,99,18,9999,99,1,30,99,...,1.0,2,2,1,1,2,2,51.527936,40005,1
31099143,10/09/2018,1,99,99,1,9999,99,4,93,93,...,2.0,2,2,1,1,2,2,3455.338851,40018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93461730,10/09/2018,1,99,99,16,9999,99,4,93,93,...,3.0,2,2,2,3,2,2,1674.244082,40046,1
87681730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,NaN,2,2,1,1,2,2,153.647901,40016,1
26781730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3651.047317,40039,1
73081730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,878.701118,40033,2
74502730,10/09/2018,1,99,99,11,9999,99,1,2,99,...,1.0,2,1,3,3,2,2,342.521450,40006,1
55212730,10/09/2018,1,99,99,12,9999,99,1,18,99,...,1.0,2,2,2,2,2,2,543.975822,40002,1
23412730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,2489.966819,40009,1
11422730,10/09/2018,1,99,99,18,2016,11,2,93,93,...,3.0,2,2,2,2,2,2,2721.773881,40050,1
61942730,10/09/2018,1,99,99,13,9999,99,1,30,99,...,2.0,2,2,2,3,2,2,604.293621,40007,2
19142730,10/09/2018,1,99,99,13,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,19534.561431,40039,2
43552730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,2,2,2,6008.958143,40049,1
91562730,10/09/2018,1,99,99,10,9999,99,4,93,93,...,3.0,2,2,2,3,2,2,5782.778810,40039,2
57962730,10/09/2018,1,99,99,19,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,34466.143274,40002,1
85162730,10/09/2018,1,99,99,15,9999,99,3,93,93,...,3.0,2,2,2,2,2,2,10440.191652,40038,2
28672730,10/09/2018,1,99,99,19,9999,99,1,4,99,...,2.0,2,2,1,1,2,2,7138.187853,40005,1
63503730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,2,2,1,1,2,2,4950.085934,40010,1
79903730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,1.0,2,2,1,1,2,2,6047.340342,40031,2
20423730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,NaN,2,2,1,1,2,2,5237.645072,40040,1
97243730,10/09/2018,2,4,4,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3465.475608,40009,2
65253730,10/09/2018,1,99,99,16,9999,99,1,30,99,...,3.0,2,2,2,2,2,2,20566.552366,40009,2
47863730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,3771.551040,40029,2
75873730,10/09/2018,1,99,99,14,9999,99,4,93,93,...,3.0,2,2,3,3,2,2,1099.986846,40004,1
93073730,10/09/2018,1,99,99,15,9999,99,2,93,93,...,2.0,2,2,1,1,2,2,854.431770,40014,2
91894730,10/09/2018,1,99,99,15,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,6423.053826,40040,2
58194730,10/09/2018,1,99,99,18,2017,7,1,3,99,...,2.0,2,2,1,1,2,2,3718.681215,40011,1
69804730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,2,3,2,2,1817.488231,40046,1
51034730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,2.0,1,2,2,2,2,2,4333.981842,40015,2
44444730,10/09/2018,2,4,4,991,9991,91,91,91,91,...,1.0,2,2,2,2,2,2,1475.398422,40046,2
93354730,10/09/2018,1,99,99,15,9999,99,4,93,93,...,3.0,2,2,2,2,2,2,6146.666449,40017,2
23974730,10/09/2018,2,99,99,991,9991,91,91,91,91,...,3.0,2,2,1,1,2,2,15092.249949,40031,1

2667 columns, that is a lot of parameters, and a huge majority of them are categorical

Decriptions of parameters can be found in codebook

'SUICTHNK' -  At any time in the past 12 months, that is from [DATEFILL] up to and including today, did you seriously think about trying to kill yourself?, yes = 1, no = 2, bunch of other values available

'SUICPLAN' - During the past 12 months, did you make any plans to kill yourself?, yes = 1, no = 2

'SUICTRY' - During the past 12 months, did you try to kill yourself?

'MHSUITHK' - same as SUICTHNK, no = 0, yes = 1, all others = nan

'MHSUIPLN' - same as SUICPLAN, no = 0, yes = 1, all others = nan

'MHSUITRY' - same as SUICTRY, no = 0, yes = 1, all others = nan

'MHSUTK_U' - same as above, but no/unknown are grouped together

'ADWRSTHK' - Did you think about committing suicide? (think about the period of time/most recent period of time when your [FEELNOUN] and other problems were the worst.), yes = 1, no = 2

'ADWRSPLN' - same as above, but Did you make a suicide plan?

'ADWRSATP' - same as above, but Did you make a suicide attempt?

'AD_MDEA9' - ANY THOUGHTS OR PLANS OF SUICIDE, 1 = has symptoms, 2 = does not

'SIMHSUI2' - whether a respondent received their most recent mental health services from at least one inpatient/residential specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'SOMHSUI' -  whether a respondent received their most recent mental health services from at least one outpatient specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'SMHSUI2' -  whether a respondent received their most recent mental health services from at least one specialty mental health source in the past year because they thought about or tried to kill themselves, 0 = no, 1 = yes

'YOWRSTHK' - same as 'ADWRSTHK' but for youth (12-17)

'YOWRSPLN' - same as above, but with plan

'YOWRSATP' - same as above, but suicide attempt

'YO_MDEA9' - same as 'ADWRSATP', but for youth (12-17 yrs)

In [35]:
use_col = ['SUICTHNK','SUICPLAN','SUICTRY','MHSUITHK','MHSUIPLN','MHSUITRY','MHSUTK_U','ADWRSTHK','ADWRSPLN',
           'ADWRSATP','AD_MDEA9','SIMHSUI2','SOMHSUI','SMHSUI2','YOWRSTHK','YOWRSPLN','YOWRSATP','YO_MDEA9']
df[use_col].describe()

,SUICTHNK,SUICPLAN,SUICTRY,MHSUITHK,MHSUIPLN,MHSUITRY,MHSUTK_U,ADWRSTHK,ADWRSPLN,ADWRSATP,AD_MDEA9,SIMHSUI2,SOMHSUI,SMHSUI2,YOWRSTHK,YOWRSPLN,YOWRSATP,YO_MDEA9
count,56276.000000,56276.000000,56276.000000,42240.000000,42237.000000,42237.000000,42554.000000,56276.000000,56276.000000,56276.000000,56276.000000,320.000000,1792.000000,1896.000000,56276.000000,56276.000000,56276.000000,56276.000000
mean,26.128367,94.519369,94.527063,0.061269,0.020006,0.009612,0.060817,85.948681,93.597146,93.604698,85.303469,0.553125,0.297991,0.313819,94.265939,96.378350,96.382206,94.021235
std,41.965473,20.373581,20.337973,0.239826,0.140023,0.097572,0.238997,33.170977,22.276343,22.245322,33.012253,0.497948,0.457503,0.464166,20.944202,15.750741,15.727177,21.049307
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,99.000000
50%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,1.000000,0.000000,0.000000,99.000000,99.000000,99.000000,99.000000
75%,2.000000,99.000000,99.000000,0.000000,0.000000,0.000000,0.000000,99.000000,99.000000,99.000000,98.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000
max,99.000000,99.000000,99.000000,1.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000,1.000000,1.000000,1.000000,99.000000,99.000000,99.000000,99.000000

Note: this is discussed in the codebook, there are several parameters which are derived from a regression model in the 2012 iteration of this study which are recommended to not be used when studying suicidal attempts and ideation (among other things), as they were found to systematically overpredict the occurance of these phenomena. I will not be using them any modeling.

In [36]:
print('Num adults thought about killing themselves in last year: '+str(len(df[df.MHSUITHK==1])))
print('Num adults made plans to kill themselves in last year: '+str(len(df[df.MHSUIPLN==1])))
print('Num adults attemped to kill themselves in last year: '+str(len(df[df.MHSUITRY==1])))
print('Num adults thought at difficult time about killing themslves: '+str(len(df[df.ADWRSTHK==1])))
print('Num adults made plans at difficult time to kill themslves: '+str(len(df[df.ADWRSPLN==1])))
print('Num adults attemped at difficult time to kill themslves: '+str(len(df[df.ADWRSATP==1])))
print('Num adults any thoughts/attempts to kill themslves: '+str(len(df[df.AD_MDEA9==1])))
len(df[(df.ADWRSTHK==1) | (df.ADWRSPLN==1) | (df.ADWRSATP==1) | (df.MHSUITHK==1) | (df.MHSUIPLN==1) | (df.MHSUITRY==1)])

Num adults thought about killing themselves in last year: 2588
Num adults made plans to kill themselves in last year: 845
Num adults attemped to kill themselves in last year: 406
Num adults thought at difficult time about killing themslves: 3121
Num adults made plans at difficult time to kill themslves: 1183
Num adults attemped at difficult time to kill themslves: 761
Num adults any thoughts/attempts to kill themslves: 4988

4153

Why does the sum of all those not equal 4988, all adults who had any suicidal thoughts/attempts?

In [37]:
use_col = ['SUICTHNK','SUICPLAN','SUICTRY','MHSUITHK','MHSUIPLN','MHSUITRY','MHSUTK_U','ADWRSTHK','ADWRSPLN',
           'ADWRSATP','AD_MDEA9','SIMHSUI2','SOMHSUI','SMHSUI2','YOWRSTHK','YOWRSPLN','YOWRSATP','YO_MDEA9',
           'YUHOSUIC','YURSSUIC','ADWRDBTR','ADWRDLOT']

df[df.AD_MDEA9==1][use_col]

,SUICTHNK,SUICPLAN,SUICTRY,MHSUITHK,MHSUIPLN,MHSUITRY,MHSUTK_U,ADWRSTHK,ADWRSPLN,ADWRSATP,...,SOMHSUI,SMHSUI2,YOWRSTHK,YOWRSPLN,YOWRSATP,YO_MDEA9,YUHOSUIC,YURSSUIC,ADWRDBTR,ADWRDLOT
QUESTID2,,,,,,,,,,,,,,,,,,,,,
37837143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
34608143,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
24160143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
41932143,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
63244143,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
19246243,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
49297243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
34879243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
47040243,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
24770243,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
82970243,2,99,99,0.0,0.0,0.0,0.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
73341243,1,1,1,1.0,1.0,1.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
39452243,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
67957343,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
72077343,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
20540343,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
27353343,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
16544343,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
37955443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
99375443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
92836443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
21266443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
11357443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
53777443,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
15990443,2,99,99,0.0,0.0,0.0,0.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
38970443,1,1,1,1.0,1.0,1.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,2
21761443,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
27153443,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
47367543,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
77798543,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37175430,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
11106430,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
67027430,1,1,2,1.0,1.0,0.0,1.0,1,1,1,...,NaN,NaN,99,99,99,99,99,99,1,1
93592430,2,99,99,0.0,0.0,0.0,0.0,1,2,1,...,NaN,NaN,99,99,99,99,99,99,1,1
48182430,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
87753430,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
36564430,1,1,2,1.0,1.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
17306530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
95068530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
93961530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
77322530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
45943530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
46653530,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
81394530,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
33044530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
40964530,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,2
97816630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
65826630,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
87907630,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
89748630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
29540630,2,99,99,0.0,0.0,0.0,0.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
37641630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
43372630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,2,1
25503630,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1
59004630,1,2,2,1.0,0.0,0.0,1.0,1,1,2,...,NaN,NaN,99,99,99,99,99,99,1,1
71696730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,1
81810730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
82330730,2,99,99,0.0,0.0,0.0,0.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,1,2
73081730,1,2,2,1.0,0.0,0.0,1.0,1,2,2,...,NaN,NaN,99,99,99,99,99,99,2,2
51034730,2,99,99,0.0,0.0,0.0,0.0,2,99,99,...,NaN,NaN,99,99,99,99,99,99,1,1

In [38]:
len(df[(df.ADWRSTHK==1) | (df.ADWRSPLN==1) | (df.ADWRSATP==1) | (df.ADWRDBTR==1) | (df.ADWRDLOT==1)])

4988

AD_MDEA9 is only in reference to during a difficult time in person's life

In [39]:
print('Num adults w/ suicidal thoughts last year: '+str(len(df[df.MHSUITHK==1])))
print('Num adults w/ suicidal plan last year: '+str(len(df[df.MHSUIPLN==1])))
print('Num adults w/ suicidal attempt last year: '+str(len(df[df.MHSUITRY==1])))
print('Num adults w/ suicidal thoughts in difficult time: '+str(len(df[df.ADWRSTHK==1])))
print('Num adults w/ suicidal plan in difficult time: '+str(len(df[df.ADWRSPLN==1])))
print('Num adults w/ suicidal attempt in difficult time: '+str(len(df[df.ADWRSATP==1])))
print('Num adults w/ thoughts about death (theirs, others, general) in difficult time: '+str(len(df[df.ADWRDLOT==1])))
print('Num adults w/ thought better if they were dead in difficult time: '+str(len(df[df.ADWRDBTR==1])))
print('Num adults answered yes for past 5 questions: '+str(len(df[df.AD_MDEA9==1])))

Num adults w/ suicidal thoughts last year: 2588
Num adults w/ suicidal plan last year: 845
Num adults w/ suicidal attempt last year: 406
Num adults w/ suicidal thoughts in difficult time: 3121
Num adults w/ suicidal plan in difficult time: 1183
Num adults w/ suicidal attempt in difficult time: 761
Num adults w/ thoughts about death (theirs, others, general) in difficult time: 4084
Num adults w/ thought better if they were dead in difficult time: 3930
Num adults answered yes for past 5 questions: 4988

In [40]:
print('Num adults w/ suicidal thoughts: '+str(len(df[(df.MHSUITHK==1) | (df.ADWRSTHK==1)])))
print('Num adults w/ suicidal plans: '+str(len(df[(df.MHSUIPLN==1) | (df.ADWRSPLN==1)])))
print('Num adults w/ suicidal attempt: '+str(len(df[(df.MHSUITRY==1) | (df.ADWRSATP==1)])))
print('Num adults w/ thoughts of death: '+str(len(df[(df.ADWRDLOT==1) | (df.ADWRDBTR==1)])))
print('Num adults w/ thoughts of death or suicide: '+str(len(df[(df.ADWRDLOT==1) | (df.ADWRDBTR==1) | (df.MHSUITHK==1) | (df.ADWRSTHK==1)])))

Num adults w/ suicidal thoughts: 4153
Num adults w/ suicidal plans: 1522
Num adults w/ suicidal attempt: 946
Num adults w/ thoughts of death: 4909
Num adults w/ thoughts of death or suicide: 5914

In [41]:
df[df.MHSUITRY==1][['MHSUIPLN','MHSUITHK']].describe()

         MHSUIPLN  MHSUITHK
count  406.000000     406.0
mean     0.864532       1.0
std      0.342645       0.0
min      0.000000       1.0
25%      1.000000       1.0
50%      1.000000       1.0
75%      1.000000       1.0
max      1.000000       1.0

In [42]:
df[df.MHSUITRY==0][['MHSUIPLN','MHSUITHK']].describe()

           MHSUIPLN      MHSUITHK
count  41829.000000  41831.000000
mean       0.011762      0.052091
std        0.107815      0.222212
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max        1.000000      1.000000

In [43]:
df[df.ADWRSATP==1][['ADWRSPLN','ADWRSTHK','ADWRDLOT','ADWRDBTR']].describe()

         ADWRSPLN  ADWRSTHK    ADWRDLOT    ADWRDBTR
count  761.000000     761.0  761.000000  761.000000
mean     1.254928       1.0    1.093298    1.148489
std      0.436107       0.0    0.291041    3.482328
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      1.000000       1.0    1.000000    1.000000
75%      2.000000       1.0    1.000000    1.000000
max      2.000000       1.0    2.000000   97.000000

In [44]:
df[df.ADWRSATP==2][['ADWRSPLN','ADWRSTHK','ADWRDLOT','ADWRDBTR']].describe()

          ADWRSPLN  ADWRSTHK     ADWRDLOT     ADWRDBTR
count  2357.000000    2357.0  2357.000000  2357.000000
mean      1.817989       1.0     1.240136     1.133220
std       2.766133       0.0     2.772200     1.935743
min       1.000000       1.0     1.000000     1.000000
25%       1.000000       1.0     1.000000     1.000000
50%       2.000000       1.0     1.000000     1.000000
75%       2.000000       1.0     1.000000     1.000000
max      97.000000       1.0    97.000000    94.000000

In [45]:
df[df.YOWRSATP==1][['YOWRSPLN','YOWRSTHK','YOWRDLOT','YOWRDBTR']].describe()

         YOWRSPLN  YOWRSTHK    YOWRDLOT    YOWRDBTR
count  545.000000     545.0  545.000000  545.000000
mean     1.322936       1.0    1.592661    1.033028
std      4.121135       0.0    7.035568    0.178873
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      1.000000       1.0    1.000000    1.000000
75%      1.000000       1.0    1.000000    1.000000
max     97.000000       1.0   97.000000    2.000000

In [46]:
df[df.YOWRSATP==2][['YOWRSPLN','YOWRSTHK','YOWRDLOT','YOWRDBTR']].describe()

         YOWRSPLN  YOWRSTHK    YOWRDLOT    YOWRDBTR
count  964.000000     964.0  964.000000  964.000000
mean     2.479253       1.0    1.797718    1.582988
std      8.629478       0.0    7.933495    6.727014
min      1.000000       1.0    1.000000    1.000000
25%      1.000000       1.0    1.000000    1.000000
50%      2.000000       1.0    1.000000    1.000000
75%      2.000000       1.0    1.000000    1.000000
max     97.000000       1.0   97.000000   97.000000

From the numbers in the code book, only those who answer they had suicidal ideation can then answer questions about plans and attempts.

As one would suspect, a large percentage of those who have a suicide attempt also had thoughts of a suicide plan.

In [47]:
def mkTrainTest(df):
    rem_val = [81,83,85,89,91,93,94,97,98,99,981,983,985,989,991,993,994,997,998,999,9981,9983,9985,9989,9991,9993,
               9994,9997,9998,9999,186,187,188,180]

    dfc = df.copy()
    
    dfc.HTINCHE2 = np.floor((dfc.HTINCHE2-55)/5)
    dfc.WTPOUND2 = np.floor((dfc.WTPOUND2-75)/55)
    dfc.BMI2 = np.floor((dfc.BMI2-9.3)/14.83)
    dfc.EDUSCHLGO.replace(11,1,inplace=True)
    dfc.BOOKED.replace(3,1,inplace=True)
    dfc.SNYSELL.replace(1,0,inplace=True)
    dfc.SNYSTOLE.replace(1,0,inplace=True)
    dfc.SNYATTAK.replace(1,0,inplace=True)
    dfc.SNYSELL.replace([2,3,4,5],1,inplace=True)
    dfc.SNYSTOLE.replace([2,3,4,5],1,inplace=True)
    dfc.SNYATTAK.replace([2,3,4,5],1,inplace=True)
    
    dfc = dfc.replace(rem_val,np.nan)
    df1 = dfc[dfc.MHSUITHK==1]
    df0 = dfc[dfc.MHSUITHK==0]

    #use_df1 = use_df1.replace(rem_val,np.nan)
    #use_df1.dropna(inplace=True)
    #use_df0 = use_df0.replace(rem_val,np.nan)
    #use_df0.dropna(inplace=True)

    one_size = len(df1)
    df0p = df0.sample(one_size)

    y0 = df0p.MHSUITHK
    X0 = df0p.drop(columns=['MHSUITHK','SUICTHNK','FILEDATE'])
    #use_X0 = pd.get_dummies(use_X0,columns=use_cols)
    y1 = df1.MHSUITHK
    X1 = df1.drop(columns=['MHSUITHK','SUICTHNK','FILEDATE'])
    #use_X1 = pd.get_dummies(use_X1,columns=use_cols)
    
    X_all = pd.concat([X0,X1])
    y_all = pd.concat([y0,y1])

    #X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, random_state=0)

    #X_train = pd.concat([X0_train,X1_train])
    #X_test = pd.concat([X0_test,X1_test])
    #y_train = pd.concat([y0_train,y1_train])
    #y_test = pd.concat([y0_test,y1_test])
    return train_test_split(X_all, y_all, test_size=0.3, random_state=0)

In [48]:
df[['HTINCHE2','WTPOUND2']].describe()

           HTINCHE2      WTPOUND2
count  56276.000000  56276.000000
mean      96.318608    508.800714
std      163.520676   1795.827742
min       55.000000     75.000000
25%       64.000000    135.000000
50%       67.000000    165.000000
75%       70.000000    200.000000
max      998.000000   9998.000000

In [49]:
def featFindBeta(X,y):
    list_p = list(X)
    find_p = []
    logreg = LogisticRegression()
    rfe = RFE(logreg)
    
    for i in range(3):#len(list_p)/10+1):
        if i == len(list_p)/1000+1:
            use_p = list_p[i*1000:]
        else:
            use_p = list_p[i*1000:(i+1)*1000]
            
        use_X = X[use_p]
        use_X = pd.get_dummies(use_X,columns=use_p)
        rfe = rfe.fit(use_X,y.values.ravel())
        tmp_p = np.array(list(use_X))
        find_p.extend(tmp_p[rfe.support_])
        
    return find_p

In [50]:
def featFind(X,y,use_col,X_test):
    logreg = LogisticRegression()
    rfe = RFE(logreg)
    use_X = X[use_col]
    X_teu = X_test[use_col]
    dum_p = []
    
    for param in use_col:
        if use_X[param].max() == 2:
            use_X[param].replace(2,0,inplace=True)
            X_teu[param].replace(2,0,inplace=True)
        elif use_X[param].max() > 2:
            dum_p.append(param)
    
    use_X = pd.get_dummies(use_X,columns=dum_p) 
    X_teu = pd.get_dummies(X_teu,columns=dum_p) 
    tmp_p = np.array(list(use_X))
    rfe = rfe.fit(use_X,y.values.ravel())
    return tmp_p[rfe.support_],use_X[tmp_p[rfe.support_]],X_teu[tmp_p[rfe.support_]]

In [51]:
X_train,X_test,y_train,y_test = mkTrainTest(df)

In [52]:
use_col = ['SERVICE','HEALTH']

featFind(X_train,y_train,use_col,X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [53]:
use_col = ['CATAG6','NOMARR2','SERVICE','HEALTH','MOVSINPYR2','SEXATRACT','DIFFHEAR','DIFFSEE','DIFFTHINK','DIFFWALK',
           'DIFFDRESS','DIFFERAND','IRSEX','IRMARIT','IREDUHIGHST2','NEWRACE2','EDUHIGHCAT','EDUSCHLGO','WRKSTATWK2',
           'EDFAM18','PRVHLTIN','HLCNOTYR','IRPINC3','IFAMIN3','INCOME','POVERTY','MAIIN102','BOOKED','TXEVRRCVD',
           'PREGNANT','HTINCHE2','WTPOUND2','INHOSPYR','NMVSOEST','AUINPYR','AUOPTYR','AURXYR','AUUNMTYR','SNYSELL',
           'SNYSTOLE','SNYATTAK','SNRLGIMP','DSTWORST','ADDPREV','AMDELT']

In [54]:
use_col = ['CATAG6','HEALTH','MOVSINPYR2','SEXATRACT','IRMARIT','IREDUHIGHST2','NEWRACE2','WRKSTATWK2','IRPINC3',
           'SNRLGIMP','WTPOUND2','BMI2']

use_param, use_X, X_ntest = featFind(X_train,y_train,use_col,X_test)
use_param

array(['CATAG6_2', 'CATAG6_3', 'CATAG6_5', 'CATAG6_6', 'HEALTH_1.0',
       'HEALTH_2.0', 'HEALTH_4.0', 'HEALTH_5.0', 'MOVSINPYR2_2.0',
       'MOVSINPYR2_3.0', 'SEXATRACT_1.0', 'SEXATRACT_2.0', 'SEXATRACT_3.0',
       'SEXATRACT_4.0', 'SEXATRACT_5.0', 'IRMARIT_1.0', 'IRMARIT_2.0',
       'IREDUHIGHST2_2', 'IREDUHIGHST2_3', 'IREDUHIGHST2_4',
       'IREDUHIGHST2_6', 'IREDUHIGHST2_9', 'NEWRACE2_2', 'NEWRACE2_4',
       'NEWRACE2_5', 'NEWRACE2_7', 'WRKSTATWK2_5.0', 'WRKSTATWK2_6.0',
       'IRPINC3_5', 'IRPINC3_7', 'SNRLGIMP_1.0', 'BMI2_0.0', 'BMI2_1.0',
       'BMI2_2.0', 'BMI2_3.0'],
      dtype='|S15')

In [55]:
logit_model=sm.Logit(y_train,use_X)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.575497
         Iterations: 35
                           Results: Logit
=====================================================================
Model:               Logit             Pseudo R-squared:  0.170
Dependent Variable:  MHSUITHK          AIC:               4240.0529
Date:                2019-02-27 01:24  BIC:               4456.8799
No. Observations:    3623              Log-Likelihood:    -2085.0
Df Model:            34                LL-Null:           -2511.2
Df Residuals:        3588              LLR p-value:       4.6139e-157
Converged:           0.0000            Scale:             1.0000
No. Iterations:      35.0000
---------------------------------------------------------------------
                Coef.    Std.Err.    z    P>|z|    [0.025     0.975]
---------------------------------------------------------------------
CATAG6_2         0.7452    0.1113  6.6949 0.0000     0.5270    0.9633
CATAG6_3         0.2863    0.1162  2.4634 0.0138     0.0585    0.5142
CATAG6_5        -0.3439    0.1540 -2.2340 0.0255    -0.6457   -0.0422
CATAG6_6        -0.6050    0.1926 -3.1418 0.0017    -0.9825   -0.2276
HEALTH_1.0      -0.8824    0.1127 -7.8309 0.0000    -1.1033   -0.6616
HEALTH_2.0      -0.3324    0.0927 -3.5868 0.0003    -0.5140   -0.1507
HEALTH_4.0       0.4724    0.1272  3.7149 0.0002     0.2232    0.7216
HEALTH_5.0       1.5461    0.2977  5.1930 0.0000     0.9626    2.1297
MOVSINPYR2_2.0   0.3812    0.1373  2.7767 0.0055     0.1121    0.6503
MOVSINPYR2_3.0   0.9641    0.1658  5.8160 0.0000     0.6392    1.2890
SEXATRACT_1.0   -0.5280    0.1920 -2.7500 0.0060    -0.9043   -0.1517
SEXATRACT_2.0    0.2896    0.2249  1.2873 0.1980    -0.1513    0.7305
SEXATRACT_3.0    0.7183    0.2459  2.9208 0.0035     0.2363    1.2003
SEXATRACT_4.0    0.3711    0.3400  1.0914 0.2751    -0.2953    1.0376
SEXATRACT_5.0    0.2369    0.3036  0.7802 0.4352    -0.3581    0.8319
IRMARIT_1.0     -0.3525    0.0923 -3.8176 0.0001    -0.5335   -0.1715
IRMARIT_2.0     -0.6917    0.3166 -2.1849 0.0289    -1.3122   -0.0712
IREDUHIGHST2_2  -1.0484    0.6217 -1.6865 0.0917    -2.2669    0.1700
IREDUHIGHST2_3 -17.5119 1851.8039 -0.0095 0.9925 -3646.9808 3611.9571
IREDUHIGHST2_4   0.6142    0.5443  1.1284 0.2591    -0.4526    1.6809
IREDUHIGHST2_6  -0.6009    0.2634 -2.2810 0.0226    -1.1172   -0.0846
IREDUHIGHST2_9   0.2501    0.0849  2.9467 0.0032     0.0838    0.4165
NEWRACE2_2      -0.4951    0.1208 -4.0985 0.0000    -0.7318   -0.2583
NEWRACE2_4       0.6722    0.5379  1.2496 0.2115    -0.3821    1.7265
NEWRACE2_5      -0.7205    0.2073 -3.4754 0.0005    -1.1269   -0.3142
NEWRACE2_7      -0.5552    0.1049 -5.2946 0.0000    -0.7608   -0.3497
WRKSTATWK2_5.0   0.3603    0.1862  1.9345 0.0530    -0.0047    0.7253
WRKSTATWK2_6.0  -0.3489    0.1976 -1.7652 0.0775    -0.7362    0.0385
IRPINC3_5       -0.3836    0.1669 -2.2985 0.0215    -0.7106   -0.0565
IRPINC3_7       -0.6273    0.1730 -3.6265 0.0003    -0.9663   -0.2883
SNRLGIMP_1.0     0.3954    0.0893  4.4280 0.0000     0.2204    0.5704
BMI2_0.0         0.3049    0.2029  1.5025 0.1330    -0.0928    0.7027
BMI2_1.0         0.2603    0.1952  1.3333 0.1824    -0.1224    0.6430
BMI2_2.0         0.4497    0.2343  1.9193 0.0549    -0.0095    0.9090
BMI2_3.0         1.1291    0.9582  1.1783 0.2387    -0.7490    3.0072
=====================================================================

/anaconda3/envs/condasc/lib/python2.7/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [56]:
pval = result.pvalues
for tmp_p in use_param[pval < 0.05]:
    print(tmp_p)
    print('num w/ attribute: '+str(len(use_X[use_X[tmp_p]==1])))

CATAG6_2
num w/ attribute: 1552
CATAG6_3
num w/ attribute: 716
CATAG6_5
num w/ attribute: 326
CATAG6_6
num w/ attribute: 231
HEALTH_1.0
num w/ attribute: 680
HEALTH_2.0
num w/ attribute: 1240
HEALTH_4.0
num w/ attribute: 465
HEALTH_5.0
num w/ attribute: 98
MOVSINPYR2_2.0
num w/ attribute: 309
MOVSINPYR2_3.0
num w/ attribute: 261
SEXATRACT_1.0
num w/ attribute: 2701
SEXATRACT_3.0
num w/ attribute: 265
IRMARIT_1.0
num w/ attribute: 1148
IRMARIT_2.0
num w/ attribute: 73
IREDUHIGHST2_6
num w/ attribute: 80
IREDUHIGHST2_9
num w/ attribute: 1022
NEWRACE2_2
num w/ attribute: 403
NEWRACE2_5
num w/ attribute: 137
NEWRACE2_7
num w/ attribute: 584
IRPINC3_5
num w/ attribute: 210
IRPINC3_7
num w/ attribute: 256
SNRLGIMP_1.0
num w/ attribute: 902

In [57]:
def redParam(use_col,X_train,y_train,X_test,pLim=0.04,nLim=50):
    use_param, use_X, X_ntest = featFind(X_train,y_train,use_col,X_test)
    logit_model=sm.Logit(y_train,use_X)
    result=logit_model.fit()
    
    final_param = []
    for tmp_p in use_param[result.pvalues <= pLim]:
        if len(use_X[use_X[tmp_p]==1]) > nLim:
            final_param.append(tmp_p)
            
    return final_param, use_X[final_param], X_ntest[final_param]

In [58]:
final_param, X_trf, X_tef = redParam(use_col,X_train,y_train,X_test)
logit_model=sm.Logit(y_train,X_trf)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.575497
         Iterations: 35
Optimization terminated successfully.
         Current function value: 0.581540
         Iterations 6
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.161
Dependent Variable: MHSUITHK         AIC:              4257.8405
Date:               2019-02-27 01:24 BIC:              4394.1318
No. Observations:   3623             Log-Likelihood:   -2106.9
Df Model:           21               LL-Null:          -2511.2
Df Residuals:       3601             LLR p-value:      1.3251e-157
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
------------------------------------------------------------------
                    Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
------------------------------------------------------------------
CATAG6_2            0.9596   0.0926 10.3638 0.0000  0.7782  1.1411
CATAG6_3            0.4613   0.1046  4.4090 0.0000  0.2562  0.6664
CATAG6_5           -0.1678   0.1468 -1.1434 0.2529 -0.4555  0.1199
CATAG6_6           -0.4522   0.1859 -2.4320 0.0150 -0.8166 -0.0878
HEALTH_1.0         -0.8018   0.1093 -7.3380 0.0000 -1.0160 -0.5877
HEALTH_2.0         -0.2353   0.0880 -2.6720 0.0075 -0.4078 -0.0627
HEALTH_4.0          0.6363   0.1214  5.2413 0.0000  0.3984  0.8742
HEALTH_5.0          1.7415   0.2730  6.3787 0.0000  1.2064  2.2766
MOVSINPYR2_2.0      0.4041   0.1354  2.9843 0.0028  0.1387  0.6694
MOVSINPYR2_3.0      1.0247   0.1641  6.2435 0.0000  0.7030  1.3464
SEXATRACT_1.0      -0.5505   0.0810 -6.7968 0.0000 -0.7092 -0.3917
SEXATRACT_3.0       0.6883   0.1772  3.8838 0.0001  0.3410  1.0357
IRMARIT_1.0        -0.2780   0.0876 -3.1733 0.0015 -0.4497 -0.1063
IRMARIT_2.0        -0.5469   0.3107 -1.7600 0.0784 -1.1560  0.0621
IREDUHIGHST2_6     -0.5018   0.2607 -1.9247 0.0543 -1.0128  0.0092
IREDUHIGHST2_9      0.3132   0.0828  3.7851 0.0002  0.1510  0.4755
NEWRACE2_2         -0.4500   0.1193 -3.7723 0.0002 -0.6839 -0.2162
NEWRACE2_5         -0.6824   0.2055 -3.3209 0.0009 -1.0851 -0.2797
NEWRACE2_7         -0.5620   0.1028 -5.4668 0.0000 -0.7635 -0.3605
IRPINC3_5          -0.2952   0.1640 -1.7998 0.0719 -0.6167  0.0263
IRPINC3_7          -0.5516   0.1697 -3.2507 0.0012 -0.8842 -0.2190
SNRLGIMP_1.0        0.4833   0.0863  5.5982 0.0000  0.3141  0.6525
==================================================================

/anaconda3/envs/condasc/lib/python2.7/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [59]:
y_pred = np.round(result.predict(X_tef))
print('fraction wrong: '+str(np.sum(np.abs(y_pred-y_test))/len(y_test)))
confusion_matrix(y_test, y_pred)

fraction wrong: 0.334835801674

array([[543, 227],
       [293, 490]])

Type 1 error: 227 (False positive (suicidal ideation in this case))

Type 2 error: 293 (False negative (did not predict SI))

In [60]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

        0.0       0.65      0.71      0.68       770
        1.0       0.68      0.63      0.65       783

avg / total       0.67      0.67      0.66      1553

In [61]:
result.params.sort_values(ascending=False)

HEALTH_5.0        1.741487
MOVSINPYR2_3.0    1.024717
CATAG6_2          0.959641
SEXATRACT_3.0     0.688304
HEALTH_4.0        0.636300
SNRLGIMP_1.0      0.483317
CATAG6_3          0.461325
MOVSINPYR2_2.0    0.404056
IREDUHIGHST2_9    0.313247
CATAG6_5         -0.167829
HEALTH_2.0       -0.235256
IRMARIT_1.0      -0.277983
IRPINC3_5        -0.295234
NEWRACE2_2       -0.450032
CATAG6_6         -0.452175
IREDUHIGHST2_6   -0.501832
IRMARIT_2.0      -0.546908
SEXATRACT_1.0    -0.550457
IRPINC3_7        -0.551619
NEWRACE2_7       -0.562034
NEWRACE2_5       -0.682395
HEALTH_1.0       -0.801817
dtype: float64

While there is still work needed to better predict those who will experience suicidal ideation, this analysis provides some insights:

The biggest predictor of suicidal ideation is sexual orientation, specifically those who experience some level of attraction to the same sex. Following that, being in poor/fair health, moving 3 times or more in the last year, being 18 to 34 years old, being unemployed and looking for work, and not placing much value in one's religious beliefs, are also positively correlated with suicidal thoughts.

Some factors that anti-correlate with suicidal thoughts need further investigation (such as being widowed and only completing through the 9th grade).

Factors including having excellent/great health, being Asian, Hispanic or Black, having a household income of $75k+, being married, placing importance in one's religious beliefs, and being 65 or older, are predictors of the lack of suicidal thoughts.

While not new to this analysis, it is worth noting that suicidal thoughts are a common experience and to properly address this phenomena, any analysis around suicide needs to adequately address this. Also, a note this analysis focused on suicidal ideation, which is not the same has having a suicidal plan and/or attempts.

In [63]:
pickle.dump(result,open('logit_2017data','wb'))